@using Data
@using Model
@using Services
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SurveymaticContext> DbFactory
@inject ISessionService Session
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div>
    <button @onclick="@Show">Help</button>
    <div hidden="@IsShow" title="@HelpTag">
        @if (HelpEntry != null)
        {
            <h2>@HelpEntry.Title</h2>
            <p>@HelpEntry.Content</p>
        }

    </div>
</div>

@code{
    private bool IsShow { get; set; } = true;

    private void Show()

    {
        IsShow = !IsShow;
    }

    public int HelpId { get; set; }

    [Parameter]
    public string HelpTag { get; set; }

    public HelpEntry HelpEntry { get; set; }

    protected override async Task OnInitializedAsync()
    {

        using var db = DbFactory.CreateDbContext();
        var item = await db.Help.Where(h => h.HelpTag == HelpTag).Include(e => e.Entries).FirstOrDefaultAsync();

        @* var he = item.Entries.Where(e => e.Language == Session.Language).ToListAsync(); *@


        if (item != null)
        {
            foreach (var entry in item.Entries)
            {
                if (HelpEntry == null)
                {
                    HelpEntry = entry;
                }
                else if (entry.Language == Session.Language)
                {
                    HelpEntry = entry;
                }
            }//if session .lang == english send
        }
        if (HelpEntry == null)
        {
            if (Session.Language == "fr")
            {
                HelpEntry = new HelpEntry { Title = "", Content = "" };
            }
            else
            {
                HelpEntry = new HelpEntry { Title = "Help Not Found", Content = "Please contact a admin" };
            }

        }






    } //check to see if item is not null and make sure that "he" isnt empty for the language we are looking go
}